{
  "semi": true,
  "trailingComma": "es5",
  "singleQuote": false,
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,
  "arrowParens": "always",
  "endOfLine": "lf",
  "bracketSpacing": true,
  "jsxSingleQuote": false,
  "jsxBracketSameLine": false,
  "proseWrap": "preserve",
  "plugins": ["@trivago/prettier-plugin-sort-imports", "prettier-plugin-tailwindcss"],
  "importOrder": [
    "^react$",
    "^react-dom$",
    "^next",
    "<THIRD_PARTY_MODULES>",
    "^@/components/(.*)$",
    "^@/features/(.*)$",
    "^@/hooks/(.*)$",
    "^@/stores/(.*)$",
    "^@/services/(.*)$",
    "^@/utils/(.*)$",
    "^@/types/(.*)$",
    "^@/constants/(.*)$",
    "^[./]",
    "^.+\\.(css|scss)$"
  ],
  "importOrderSeparation": false,
  "importOrderSortSpecifiers": true,
  "importOrderCaseInsensitive": true
}
